<h1>Hi <%= user.full_name %></h1>
<img src ="<%=user.profile_picture%>" alt="profil"  />
<h2>Thanks for sharing with us here is your Coupon code</h2>
<p>
  HACKBAY2017
</p>

<h2>Last Posts</h2>
<%= user_recent_media.to_json %>
<% for media_item in user_recent_media %>
  <div style='float:left;'>
    <img src="<%=media_item.images.thumbnail.url %>"/><br/>
  </div>
<% end %>
